{% extends "base.html" %}

{% block content %}

<table align="right">
    <tr><td><a href ="/user/home/"> GO HOME NOW </a></td></tr>
    <tr><td><a href ="/user/logout/"> LOGOUT NOW </a></td></tr>

</table>

<table>
    <tr><td><a href ="/change/password"> GO HOME NOW </a></td></tr>
    <tr><td><a href =">MyOrder<"></a></td></tr>
    <tr><td><a href =">UpdateProfile<"></a></td></tr>
    <tr><td><a href ="/catagory/add/"> UPDATE CATAGORY  </a></td></tr>
    <tr><td><a href ="/products /add/"> UPDATE PRODUCT  </a></td></tr>


</table>

{% endblock%}